body {
	background: #072a4b url('../imgs/blueprint.png');
	height: 100vh;
	margin: 0px;
	overflow: hidden;
}

canvas {
	position: absolute;
	z-index: 2;
}

input {
	background: transparent;
	border: 0px;
	box-sizing: border-box;
	color: white;
	font-family: Consolas, Calibri, sans-serif;
	line-height: 20px;
	margin-right: 2px;
	padding: 2px 7px;
}

input:hover {
	background: rgba(255, 255, 255, 0.1);
}

#Event {
	position: fixed;
	z-index: 3;
}

.shadow {
	box-shadow: 0px 0px 120px 10px #06193a inset;
	height: 100vh;
	position: fixed;
	width: 100vw;
	z-index: 1;
}

.container {
	box-sizing: border-box;
	padding-left: 10px;
	padding-top: 10px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 3;
}

.container + .container {
	padding-left: 0px;
	right: 0px;
	width: auto;
}

.pull-right {
	float: right !important;
}

.hamburger {
	display: none;
}

.group, .group img {
	float: left;
}

.group-action {
	margin-right: 10px;
}

.group-action img {
	cursor: pointer;
	margin-left: 7px;
	margin-top: -2px;
	opacity: 0.5;
	width: 23px;
}

.group-action img:first-child {
	margin: 0px;
}

.group-action img.active {
	opacity: 1;
}

.angle input {
	width: 35px;
}

.gravity input, .velocity input {
	margin-left: -3px;
	width: 63px;
}

.velocity input {
	margin-left: 3px;
}

#run {
	background: transparent;
	border: 1px solid white;
	border-radius: 2px;
	color: white;
	font-family: Calibri, sans-serif;
	font-size: 12px;
	margin-left: 5px;
	margin-top: 2.5px;
	text-transform: lowercase;
}

@media (max-width: 380px) {
	.container {
		max-width: 205px;
		padding-top: 10px;
		width: auto;
	}

	.container .group-action {
		display: block;
		margin-top: 2px;
	}

	.group input {
		display: none;
		margin-top: -1px;
	}

	.gravity img {
		margin-top: 1px;
	}

	.angle img {
		margin-right: 3px;
	}
}
